header {
    font-size: 32px;
    margin-top: 100px;
    color: #E5E5CB;
}

.not-home-split {
    border-bottom: thin solid #D5CEA3;
    margin: 20px 0px 20px 0px;
}

h4 {
    text-align: left;
    color: #E5E5CB;
}

ul li {
    color: #E5E5CB;
}

.social {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-box {
    display: inline;
    padding: 10px 10px;
    border: 1px solid #D5CEA3;
    color: #E5E5CB;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.social-box:hover {
    opacity: 1;
}